<div class="container">
  <h2 class="my-5">2024 Super Strokers Scramble Draft</h2>

  <div class="row">
    <div class="col-lg-2 col-sm-2 cardHolder">
      <img class="playerCard" src="/img/jared.jpg" alt="" />
      <img class="playerCard" src="/img/david.jpg" alt="" />
      <img class="playerCard" src="/img/logan.jpg" alt="" />
      <img class="playerCard" src="/img/jake.jpg" alt="" />
      <img class="playerCard" src="/img/alex.jpg" alt="" />
      <img class="playerCard" src="/img/isaac.jpg" alt="" />
      <img class="playerCard" src="/img/ben.jpg" alt="" />
      <img class="playerCard" src="/img/kev.jpg" alt="" />
      <img class="playerCard" src="/img/larry.jpg" alt="" />
      <img class="playerCard" src="/img/matt.jpg" alt="" />
      <img class="playerCard" src="/img/everett.jpg" alt="" />
      <img class="playerCard" src="/img/guy.jpg" alt="" />
    </div>
    <div class="col-lg-10 col-sm-10">
      <div class="team">
        <h3 class="teams">Team 1</h3>
        <div class="teamSelect">
          <img class="teamImg" id="1" src="" alt="" />
          <img class="teamImg" id="2" src="" alt="" />
        </div>
      </div>
      <div class="team">
        <h3 class="teams">Team 2</h3>
        <div class="teamSelect">
          <img class="teamImg" id="3" src="" alt="" />
          <img class="teamImg" id="4" src="" alt="" />
        </div>
      </div>
      <div class="team">
        <h3 class="teams">Team 3</h3>
        <div class="teamSelect">
          <img class="teamImg" id="5" src="" alt="" />
          <img class="teamImg" id="6" src="" alt="" />
        </div>
      </div>
      <div class="team">
        <h3 class="teams">Team 4</h3>
        <div class="teamSelect">
          <img class="teamImg" id="7" src="" alt="" />
          <img class="teamImg" id="8" src="" alt="" />
        </div>
      </div>
      <div class="team">
        <h3 class="teams">Team 5</h3>
        <div class="teamSelect">
          <img class="teamImg" id="9" src="" alt="" />
          <img class="teamImg" id="10" src="" alt="" />
        </div>
      </div>
      <div class="team">
        <h3 class="teams">Team 6</h3>
        <div class="teamSelect">
          <img class="teamImg" id="11" src="" alt="" />
          <img class="teamImg" id="12" src="" alt="" />
        </div>
      </div>
      <div class="buttons">
        <button class="btn btn-primary" id="draft">Mock Draft</button>
        <button class="btn btn-secondary" id="clear">Clear</button>
      </div>
      <h5>Draft Day: June 1st, 2024</h5>
    </div>
  </div>
</div>
