<div>
    <h1 class="historyHeader">Tournament History</h1>
    <h5>2023 Season</h5>
    <p class="">The 2023 showcase season began with a showdown at Honey Creek Golf Club.
        The four teams consisted of Alex and Kevin, Jake and Ben, Isaac and Jared,
        and Logan and David. The nerves were tense and the beginning, each team wanting to win,
        but as the day went on and the alcohol was consumed everyone eased up. Kevin and Alex and Isaac
        and Jared started hot on the first couple holes, and Kevin and Alex with a birdy to start hole one.
        The front nine finised with Ben and Jake doing very well only 2 over.
        During the back nine the lead teams were getting nervous over their scores and the rivals
        scores, not knowing what the other team was doing. This lead to Isaac and Jared breaking their cart.
        Everyone had nice shots and play well through the day, David hit the flag from I don't know how 
        far, because I wasn't in his group. At the end of the day two teams tied for first, and had to go 
        to an immediate sudden death because some people had to go to a wedding. Rock Paper Scissors was played 
        to decide that Jared would lead the sudden death chip off followed by Ben, Isaac, then Jake.
        The hole was decided by David that was tough, Jared had a horrible chip about 15 feet away 
        from the pin, Ben followed improving on that slightly to get about 12 feet away. Isaac had to beat 
        Ben to keep it going, and he did putting it about 5 feet away from the hole. The championship 
        came down to Jake to put it within 5 feet. HE DID, securing the win for him and Ben! Jake put it about 
        3 feet away from the hole! Some would say it was inevitable, just look at his chipping rating on his scorecard.
        <strong>This crowns the 2023 Super Strokers Scramble Champions Ben and Jake!</strong>
    </p>

    <div class="championImgs">
        <div class="score">
            <img class="score" src="/img/score.jpg" alt="">
        </div>
        <div class="Champions">
            <h3 class="Conquer">2023 Champions</h3>
            <div class="chmpImg">
                <img class="kingMe" src="/img/jakechamp.jpg" alt="">
                <img class="kingMe" src="/img/benchamp.jpg" alt="">
            </div>
        </div>
    </div>
</div>