<div class="index">
    <h1 class="w-100 text-center py-5">Super Strokers Scramble Annual Tournament</h1>
    
    <div class="maingroup">
        <h4 class="bio">A group of friends who do stuff together. Jared kicked off the Super Strokers Scramble 
            by inviting all his golf friends except Jace to play in a 2 person round robin random team 
            decision showdown. This will be an annual tournament hopefully to add a couple good faces every
            year and pass up Jace. Each year, I'm assuming we'll get nicer and nicer prizes and we'll play 
            at some nice courses, drink, smoke some cigars and trees, and play some good golf.
        </h4>
        <img  class="groupImg loading-lazy" src="/img/group.jpg" alt="">
    </div>
</div>