<div class="tournament">
  <div class="team">
    <h1>Team 1</h1>
    <div class="teamFlex">
      <img class="playerTourn" src="/img/ben.jpg" alt="" />
      <img class="playerTourn" src="/img/jake.jpg" alt="" />
    </div>
  </div>
  <div class="team">
    <h1>Team 2</h1>
    <div class="teamFlex">
      <img class="playerTourn" src="/img/larry.jpg" alt="" />
      <img class="playerTourn" src="/img/everett.jpg" alt="" />
    </div>
  </div>
  <div class="team">
    <h1>Team 3</h1>
    <div class="teamFlex">
      <img class="playerTourn" src="/img/guy.jpg" alt="" />
      <img class="playerTourn" src="/img/kev.jpg" alt="" />
    </div>
  </div>
  <div class="team">
    <h1>Team 4</h1>
    <div class="teamFlex">
      <img class="playerTourn" src="/img/logan.jpg" alt="" />
      <img class="playerTourn" src="/img/matt.jpg" alt="" />
    </div>
  </div>
  <div class="team">
    <h1>Team 5</h1>
    <div class="teamFlex">
      <img class="playerTourn" src="/img/isaac.jpg" alt="" />
      <img class="playerTourn" src="/img/alex.jpg" alt="" />
    </div>
  </div>
  <div class="team">
    <h1>Team 6</h1>
    <div class="teamFlex">
      <img class="playerTourn" src="/img/david.jpg" alt="" />
      <img class="playerTourn" src="/img/jared.jpg" alt="" />
    </div>
  </div>
</div>
